:root {
  --primary-color: #ff4141;
  --main-width: 1200px;
  --text-color-secondary: rgba(0, 0, 0, 0.45);
  --box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);
  --border-radius-base: 4px;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  word-break: break-all;
}

body {
  padding: 0;
  margin: 0;
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-variant: tabular-nums;
  background-color: #fff;
  -webkit-font-feature-settings: "tnum", "tnum";
  font-feature-settings: "tnum", "tnum";
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

textarea {
  font-family: "Microsoft Yahei";
}

blockquote,
body,
dd,
dl,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
menu,
ol,
p,
pre,
ul {
  margin: 0;
}

/* 自定义样式 */
.layout {
  margin: 0 auto;
  width: var(--main-width);
}

.ellipsis1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.clear {
  zoom: 1;
}
.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: "";
}

/* dropdown 弹窗样式 */
.dropdown-overlay {
  display: inline-block;
  padding: 8px;
  text-align: center;
  color: #000;
  border-radius: 5px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}
